.loader {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 16px;
  height: 50px;
  text-align: center;
}

.loadingText {
  font-size: 13px;
  font-weight: 600;
  color: #c9d2de;
}

.loadingDetailsText {
  font-family: 'Avenir Next Medium', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #78c043;
  letter-spacing: 1.4px;
}

.loadingIndicator {
  margin: 0 auto;
}
